@model Blog

@{
    ViewData["Title"] = "Create";
}

<div class="container my-5">

    <h2 style="color:darkcyan; text-align:center;" class="mt-3"> Blog create</h2>
    
    <form class="form-sample" asp-action="Create" method="post" enctype="multipart/form-data">
        @*enctype="multipart/form-data bunu mutleq yaziriq upload edende  string kimi deyil file kimi gonderisin methodumuza "*@
        <h4 style="color:darkred" class="mt-5">Add image </h4>
        <input class="form-control" id="customFile" asp-for="Photo" />
        <span class="text-danger" asp-validation-for="Photo"></span>

        <h4 style="color:darkred" class="mt-3">Add header </h4>
        <input type="text"  class="form-control" id="customFile" asp-for="Header" placeholder="Header"/>   @*Bu asp-for="Name"  Category nin ichinde olan name propertisidi ve eger inputlarim coxdusa deyisecek onlar *@
        <span class="text-danger" asp-validation-for="Header"></span>

        <h4 style="color:darkred" class="mt-3">Add description </h4>
        <input type="text" class="form-control" id="customFile" asp-for="Description" placeholder="Description" />   @*Bu asp-for="Name"  Category nin ichinde olan name propertisidi ve eger inputlarim coxdusa deyisecek onlar *@
        <span class="text-danger" asp-validation-for="Description"></span>

        <h4 style="color:darkred" class="mt-3">Add datetime </h4>
        <input type="datetime-local"  asp-for="Date" />   @*Bu asp-for="Name"  Category nin ichinde olan name propertisidi ve eger inputlarim coxdusa deyisecek onlar *@
        <span class="text-danger" asp-validation-for="Date"></span>

        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>

    </form>
</div>

@section Scripts{


    <partial name="_ValidationScriptsPartial" />



}
